{{#*inline "page"}}

<section id="about">
  <h1>Here's another page!!</h1>
  <h2>And this is a header 2! Too!</h2>
  <ul>
    {{#each items}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>
</section>

{{/inline}}
{{~> (parent)~}}
