{{#*inline "page"}}

<section id="hello">
  <h1>Hi {{ name }}!!!</h1>
  <h3>Here are your items:</h3>
  <ul>
    {{#each items}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
</section>

<p>
  <img src="/static/jupiter.png" alt="Jupiter planet image">
</p>

{{/inline}}
{{~> (parent)~}}