{{#*inline "page"}}
    <section id="login">
        <form action="/login" method="POST">
            <strong>Login</strong> <br>
            <input type="text" name="username" id="username" placeholder="Username" required><br>
            <input type="password" name="password" id="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
    </section>
{{/inline}}
{{~> (parent)~}}